<div class="operation-zone clearfix">
    <div class="top-operation">
        <div class="top-operation-left">
          <!-- <el-switch
            v-model="isShowgGroup"
            active-text="分组显示"
           >
          </el-switch> -->

          <el-button @click="groupTypeClick(true)" :class="isShowgGroup ? 'primary-btn' : 'default-btn'" class="radio-btn iconfont iconpms-icon_classification">
          </el-button>
          <el-button @click="groupTypeClick(false)" :class="!isShowgGroup ? 'primary-btn' : 'default-btn'" class="radio-btn iconfont iconpms-icon_grid1">
          </el-button>
          
          <el-button @click="modelTypeClick(modelType.checked)" :class="currentModelType === modelType.checked ? 'primary-btn' : 'default-btn'" class="type-btn iconfont iconpms-icon_Verifying-and-passing">
            排查({{isShowgGroup ? checkedTotalCount : totalCount}})
          </el-button>
          <el-button @click="modelTypeClick(modelType.unChecked)" :class="currentModelType === modelType.unChecked ? 'primary-btn' : 'default-btn'" class="type-btn iconfont iconpms-icon_Verification-failed ">
            待排查({{unCheckedTotalCount}})
          </el-button>
        </div>
        <div class="top-operation-right">
            <el-button class="add type-btn primary-btn el-icon-refresh" @click="pullNewData">拉取最新数据</el-button>
            <el-upload
              class="upload-demo"
              ref="upload"
              action=""
              :multiple="false"
              :file-list="fileList"
              :on-change="onUploadChange"
              :auto-upload="false"
              :show-file-list="false"
            >
              <el-button slot="trigger" class=" type-btn  primary-btn el-icon-upload2
              ">
                导入
              </el-button>
            </el-upload>
            <el-button  @click="exportExcel" class=" type-btn primary-btn  el-icon-download">
              导出
            </el-button>
            <el-button @click="addTroubleShoot" class="add iconfont type-btn primary-btn iconpms-icon_Blow-Up">新增</el-button>
          </div>

          <side-frame ref="sideFrame" :top="80">
            <div class="side-frame-header" slot="header">
              <div class="header-title side-frame-title">
                <i></i>
                <span>日常排查登记表</span>
              </div>
            </div>
            <div class="side-frame-content choose-disaster" style="width: 500px;" slot="frame">
              <TroubleshootingInfoForm @colse="colse" @success="success"/>
            </div>
          </side-frame>
    </div>

    <div class="botton-operation" v-if="!isShowgGroup">
    <!-- <div class="botton-operation"> -->
      <el-select v-model="isFaver" size="mini" multiple placeholder="是否发热">
        <el-option
          v-for="item in feverOptions"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <el-select multiple collapse-tags v-model="medicalOpinionIds" size="mini" multiple placeholder="分类诊疗医疗意见">
        <el-option
          v-for="item in medicalOpinions"
          :key="item.id"
          :label="item.name"
          :value="item.id"
          >
        </el-option>
      </el-select>
      <el-button @click="reset" class="iconfont type-btn reset iconfont iconpms-icon_Reset">{{
        $t('plan_manage.reset')
      }}</el-button>
      <div class="input-search">
        <input ref="searchInput" type="text" autofocus @input="debounceSearch" v-model="keyWords"
          placeholder="请输入关键字" />
        <span class="iconfont iconpms-icon_search iconfont-size"></span>
      </div>
    </div>
  </div>