<div class="operation-zone clearfix">
    <div class="btn-group">
        <div class="top-operation">
            <div class="top-operation-left">
                <el-button  @click="handleSort" class="iconfont type-btn iconfont iconpms-icon_Time-descending">
                    所有填报人员
                    <!-- <span class="btn-p"> 时间排序 </span> -->
                  </el-button>
                  <el-button  @click="handleSort" class="iconfont type-btn iconfont iconpms-icon_Chronological-ascent">
                    未填报人员
                    <!-- <span class="btn-p">时间排序</span> -->
                  </el-button>
            </div>
            <div class="top-operation-right">
                <el-button  @click="handleSort" class="iconfont type-btn iconfont iconpms-icon_Time-descending">
                    导入
                    <!-- <span class="btn-p">时间排序</span> -->
                  </el-button>
                  <el-button  @click="handleSort" class="iconfont type-btn iconfont iconpms-icon_Chronological-ascent">
                    导出
                    <!-- <span class="btn-p">时间排序</span> -->
                  </el-button>
            </div>
            <div class="top-operation">
              <!-- <div>
                  <div class="input-search">
                      <input
                      ref="searchInput"
                      type="text"
                      autofocus
                      v-model="keyWords"
                      :placeholder="$t('tempMgr.keywords_search_placeholder')"
                      @keyup.enter="searchByKeyWords"
                  />
                  <span class="iconfont iconpms-icon_search iconfont-size"></span>
                  <el-button @click="resetPlans" class="iconfont type-btn reset iconfont iconpms-icon_Reset">添加</el-button>
                </div>
              </div>
              <el-button @click="addEpidemicPersion" class="add iconfont primary-btn iconpms-icon_Blow-Up">新增</el-button> -->
                
                <div class="input-search">
                  <input ref="searchInput" type="text" autofocus @input="debounceSearch" v-model="keyWords"
                    :placeholder="$t('tempMgr.keywords_search_placeholder')" />
                  <span class="iconfont iconpms-icon_search iconfont-size"></span>
                </div>
                <el-button class="iconfont type-btn reset iconfont iconpms-icon_Reset">{{
                  $t('plan_manage.reset')
                }}</el-button>
                <el-button class="add iconfont type-btn primary-btn iconpms-icon_Blow-Up">新增</el-button>
              </div>
        </div>
       

      
    </div>
  </div>