.list-item-content {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  .content-item {
    width: 95%;
    display: inline-block;
    margin: 4px 8px;
    color: #555;
    b {
      margin-right: 10px;
      color: #909399;
      float: left;
    }
    i {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 64%;
      float: left;
    }
  }
}

.title {
  border-bottom: 1px lightgrey dashed;
  padding: 10px 5px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 0;
  color: #606266;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 99%;
  .template-sign {
    padding: 4px 10px;
    margin-right: 10px;
  }
}

.multi-name {
  font-size: 12px;
  background-color: #56a8e7;
  padding: 5px;
  border-radius: 18px;
  color: #fff;
  line-height: 24px;
}
.multi-dropdown {
  float: right;
}
.multiTenancy-child {
  display: flex;
  flex-direction: row;
  line-height: 36px;
  font-size: 14px;

  .mul-icon {
    width: 36px;
    height: 36px;
  }
}
