<div class="troubleshoot-history">
  <div class="operation-zone">
    <el-select v-model="favers" multiple collapse-tags  placeholder="体温记录情况">
      <el-option v-for="item in feverOptions" :key="item.value" :label="item.label" :value="item.value"> </el-option>
    </el-select>
    <el-select multiple collapse-tags v-model="medicalOpinionIds" placeholder="分类诊疗医疗意见">
      <el-option v-for="item in medicalOpinions" :key="item.id" :label="item.name" :value="item.id"> </el-option>
    </el-select>
    <el-select multiple collapse-tags v-model="plots" multiple placeholder="请选择小区">
      <el-option v-for="item in communities" :key="item.id" :label="item.name" :value="item.id"> </el-option>
    </el-select>
    <el-date-picker
      class="picker"
      :start-placeholder="$t('system_log.start_time')"
      :end-placeholder="$t('system_log.end_time')"
      v-model="dateRange"
      type="datetimerange"
      :range-separator="$t('system_log.to')"
      value-format="yyyy-MM-dd[T]HH:mm:ss[Z]"
      @change="onTimeZoneChange"
      :pickerOptions="pickerOptions"
      ref="picker"
    >
    </el-date-picker>
    <el-button @click="reset" class="iconfont primary-btn reset iconpms-icon_Reset">{{ $t('plan_manage.reset') }}</el-button>
    <el-button @click="exportExcel" class="export-btn primary-btn  el-icon-download"> 导出 </el-button>
    <div class="input-search">
      <input ref="searchInput" type="text" autofocus @input="debounceSearch" v-model="keyWords" placeholder="请输入关键字" />
      <span class="iconfont iconpms-icon_search iconfont-size"></span>
    </div>
  </div>
  <div class="cart-table">
    <!-- max-height="calc(100vh - 215px)" -->
    <el-table
      :cell-style="{padding:'16px 0px'}"
      max-height="755"
      class="table-content cart-table-item"
      :data="historyRecords"
      stripe
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column label="房号" width="120" :show-overflow-tooltip="true">
        <template slot-scope="scope">
          <span class="room-num">{{ scope.row.building }} - {{scope.row.unitNumber}} - {{scope.row.roomNo}}</span>
        </template>
      </el-table-column>
      <el-table-column label="姓名" width="130" :show-overflow-tooltip="true">
        <template slot-scope="scope">
          <span class="room-num">{{ scope.row.personBase.name}}</span>
        </template>
      </el-table-column>
      <el-table-column label="小区名称" :show-overflow-tooltip="true">
        <template slot-scope="scope">
          {{replacePlot(scope.row.plot)}}
        </template>
      </el-table-column>
      <!-- <el-table-column label="是否发热" width="80">
        <template slot-scope="scope">
          <el-tag effect="dark" size="mini" :type="scope.row.isExceedTemp ? 'danger' : 'primary'" disable-transitions>
            {{scope.row.isExceedTemp ? '发热' : '正常'}}</el-tag
          >
        </template>
      </el-table-column> -->
      <el-table-column label="体温" width="120">
        <template slot-scope="scope">
          {{scope.row.isExceedTemp.split(':')[1]}}
        </template>
      </el-table-column>
      <el-table-column label="是否有接触史" width="110">
        <template slot-scope="scope">
          {{scope.row.isContact ? '是' : '否'}}
        </template>
      </el-table-column>
      <el-table-column label="其他症状" :show-overflow-tooltip="true">
        <template slot-scope="scope">
          {{replaceOtherSymptoms(scope.row.otherSymptoms)}}
        </template>
      </el-table-column>
      <el-table-column label="分类诊疗医疗意见" :show-overflow-tooltip="true">
        <template slot-scope="scope">
          {{replaceMedicalOpinion(scope.row.medicalOpinion)}}
        </template>
      </el-table-column>
      <el-table-column prop="createTime" sortable label="填报时间" width="160" :show-overflow-tooltip="true">
        <template slot-scope="scope">
          {{replaceTime(scope.row.createTime)}}
        </template>
      </el-table-column>
      <el-table-column label="电话" width="120" :show-overflow-tooltip="true">
        <template slot-scope="scope">
          {{scope.row.personBase.phone}}
        </template>
      </el-table-column>
      <el-table-column label="操作" width="110">
        <template slot-scope="scope">
          <el-button size="mini" class="iconfont edit-btn primary-btn iconpms-icon_Preview-document" @click="edit(scope.row)">详情</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
  <el-pagination
    class="pagination"
    @size-change="handleSizeChange"
    @current-change="handleCurrentChange"
    :current-page="currentPage"
    :page-sizes="pageSizes"
    :page-size="pageSize"
    layout="total, prev, pager, next, jumper"
    :total="totalCount"
  >
  </el-pagination>

  <side-frame ref="sideFrameCard" :top="80">
    <div class="side-frame-header" slot="header">
      <div class="header-title side-frame-title">
        <i></i>
        <span>修改日常排查登记表</span>
      </div>
    </div>
    <div class="side-frame-content choose-disaster"  style="width: 500px;" slot="frame">
      <TroubleshootingInfoForm :currentPerson="currentRecord" @colse="colse" :isDetail="true" />
    </div>
  </side-frame>
</div>
