.plan-entrance {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  justify-content: center;

  .pre-stage {
    .title {
      line-height: 50px;
      color: #ffba00;
      text-align: center;
      font-size: 14px;

      .iconfont {
        font-size: 16px;
      }
    }

    .content {
      padding: 20px;
      padding-top: 50px;
      padding-bottom: 30px;

      ul {
        display: flex;
        height: 95px;
        width: 100%;

        li {
          flex: 1;
          display: flex;
          flex-direction: row;
          position: relative;

          .label {
            width: 118px;
            height: 95px;
            font-size: 118px;
            line-height: 95px;
            position: absolute;
            left: -59px;
            display: flex;
            justify-content: center;
            cursor: pointer;

            i {
              position: absolute;
              width: 38px;
              height: 35px;
              left: 50%;
              top: 50%;
              margin-left: -19px;
              margin-top: -26px;
              color: #fff;
              line-height: 35px;
              font-size: 38px;
            }

            .text {
              position: absolute;
              line-height: 22px;
              // bottom: -30px;
              // bottom: -30px;
              top: 100%;
              color: #ffba00;
              white-space: nowrap;
              font-size: 14px;
              word-break: break-all;
              overflow: hidden;
              text-overflow: ellipsis;
              padding: 0 5px;

              &.text-one {
                max-width: 120px;
              }

              &.text-two {
                max-width: 205px;
              }

              &.text-three {
                max-width: 280px;
              }

              &.text-four {
                max-width: 420px;
              }

              .iconfont {
                color: #09bd0d;
                font-size: 18px;
              }

              .verification-failed {
                color: #f8662f !important;
              }
            }
          }

          .line {
            height: 0;
            border-top: 1px solid rgb(224, 225, 229);
            flex: 1;
            position: absolute;
            width: 100%;
            top: 50%;
          }

          &:nth-child(1) {
            width: 15%;
            flex: none;

            .line::before {
              content: '';
              display: inline-block;
              width: 6px;
              height: 6px;
              background: rgb(224, 225, 229);
              border-radius: 50%;
              position: absolute;
              top: -3px;
              left: -3px;
            }
          }

          &:nth-child(2) {
            .label {
              color: #5b9bdc;
            }
          }

          &:nth-child(3) {
            .label {
              color: #e2b669;
            }
          }

          &:nth-child(4) {
            .label {
              color: #e98082;
            }
          }

          &:nth-child(5) {
            width: 15%;
            flex: none;

            .label {
              color: #60b3c8;
            }

            .line::before {
              content: '';
              display: inline-block;
              width: 6px;
              height: 6px;
              background: rgb(224, 225, 229);
              border-radius: 50%;
              position: absolute;
              top: -3px;
              right: -3px;
            }
          }

          .arc-box {
            position: absolute;
            width: 100%;
            top: -50px;
            height: 40px;
            overflow: hidden;
            padding: 0 5px;

            &::before {
              content: '';
              display: inline-block;
              width: 6px;
              height: 6px;
              background: rgb(224, 225, 229);
              border-radius: 50%;
              position: absolute;
              top: 34px;
              left: 8px;
            }

            &::after {
              content: '';
              display: inline-block;
              width: 6px;
              height: 6px;
              background: rgb(224, 225, 229);
              border-radius: 50%;
              position: absolute;
              top: 34px;
              right: 8px;
            }

            &.arc-box-three {
              &::before {
                left: 12px;
              }

              &::after {
                right: 12px;
              }
            }

            &.arc-box-four {
              &::before {
                left: 17px;
              }

              &::after {
                right: 17px;
              }
            }

            .arc {
              border: 1px solid rgb(224, 225, 229);
              border-radius: 50%;
              height: 120px;
            }
          }
        }
      }
    }
  }

  .pre-complete {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffba00;
    max-height: 110px;

    .complete-content {
      font-size: 14px;
      height: 36px;
      line-height: 36px;
      width: 100%;

      .desc {
        float: left;
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        line-height: 100%;

        .ready {
          color: #f8662f;
          font-size: 30px;
          position: relative;
        }

        >span {
          // flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 200px;
        }

      }

      .quick-edit {
        float: left;
        position: relative;
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;
        justify-content: center;

        button {
          font-size: 16px;
          background: #335082;
          color: #f8662f;
          border: 1px solid #f8662f;
          margin-right: 10px;

          &:hover {
            background: #f8662f;
            color: #fff;
          }
        }

        >span {
          // flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 200px;
        }

      }

      .remain {
        position: absolute;
        right: 5px;
        top: 0px;
        cursor: pointer;

        .iconfont {
          font-size: 26px;
          color: #f8662f;
        }

        .tips {
          img {
            float: left;
          }

          .text {
            float: left;
            margin-left: 110px;
          }
        }
      }
    }
  }
}

.tips {
  display: flex;

  img {
    width: 100px;
    height: 100px;
  }

  .tip-text {
    flex: 1;
    // float: left;
    margin-left: 10px;

    .text {
      line-height: 22px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .plan-entrance {
    .pre-stage {
      .content {
        ul {
          li {
            .label {
              .text {
                &.text-one {
                  max-width: 100px;
                }

                &.text-two {
                  max-width: 150px;
                }

                &.text-three {
                  max-width: 210px;
                }

                &.text-four {
                  max-width: 310px;
                }
              }
            }

            .arc-box {

              &.arc-box-three {
                &::before {
                  left: 10px;
                }

                &::after {
                  right: 10px;
                }
              }

              &.arc-box-four {
                &::before {
                  left: 12px;
                }

                &::after {
                  right: 12px;
                }
              }
            }
          }
        }
      }
    }

    &.plan-entrance-one,
    &.plan-entrance-two {
      .pre-stage {
        .title {
          line-height: 40px;
        }

        .content {
          padding: 20px;
          padding-top: 40px;
          padding-bottom: 20px;

          ul {
            height: 80px;

            li {
              .label {

                &.label-one,
                &.label-two {
                  width: 100px;
                  height: 80px;
                  font-size: 100px;
                  line-height: 80px;
                  left: -50px;
                }

              }

              .arc-box {
                position: absolute;
                width: 100%;
                top: -40px;
                height: 30px;
                overflow: hidden;
                padding: 0 5px;

                &::before {
                  top: 24px;
                  left: 8px;
                }

                &::after {
                  top: 24px;
                  right: 8px;
                }

                &.arc-box-two {
                  &::before {
                    left: 14px;
                  }

                  &::after {
                    right: 14px;
                  }
                }

                &.arc-box-three {
                  &::before {
                    left: 10px;
                  }

                  &::after {
                    right: 10px;
                  }
                }

                &.arc-box-four {
                  &::before {
                    left: 12px;
                  }

                  &::after {
                    right: 12px;
                  }
                }
              }
            }
          }
        }
      }

      .pre-complete {
        max-height: 65px;
      }
    }
  }
}