<div class="epidemic-info-form">
  <el-form
    :model="troublePerson"
    :rules="rules"
    label-position="top"
    size="mini"
    ref="recordForm"
    label-width="100px"
    class="demo-ruleForm"
    :disabled="isDetail"
  >
    <el-form-item label="姓名" prop="personBase.name" class="form-item">
      <el-input :disabled="isEdit" v-model="troublePerson.personBase.name" maxlength="20"></el-input>
      <span class="form-item-tip" v-if="!isEdit && !isDetail">{{troublePerson.personBase.name ? troublePerson.personBase.name.length : 0}}/20</span>
    </el-form-item>
    <el-form-item label="电话" prop="personBase.phone">
      <el-input :disabled="isEdit" v-model="troublePerson.personBase.phone"></el-input>
    </el-form-item>
    <div class="row-one">
      <div class="flex-six">
        <el-form-item label="性别" prop="personBase.sex">
          <el-radio-group v-model="troublePerson.personBase.sex">
            <el-radio v-for="gender in genderClassification" :label="gender.id" :key="gender.id">{{gender.name}}</el-radio>
          </el-radio-group>
        </el-form-item>
      </div>
      <!-- <div class="flex-four">
        <el-form-item label="年龄" prop="age">
          <el-input-number v-model="troublePerson.age" :min="1" :max="150"></el-input-number>
        </el-form-item>
      </div> -->
    </div>
    <el-form-item label="身份证">
      <el-input v-model="troublePerson.personBase.identificationNumber" maxlength="18"></el-input>
    </el-form-item>
    <el-form-item label="常德人入武汉后居住地" prop="personBase.address" class="form-item">
      <el-input v-model="troublePerson.personBase.address" maxlength="250"></el-input>
      <span class="form-item-tip">{{troublePerson.personBase.address ? troublePerson.personBase.address.length : 0}}/250</span>
    </el-form-item>
    <el-form-item label="小区" prop="plot">
      <el-radio-group v-model="troublePerson.plot">
        <el-radio v-for="communitie in communities" :label="communitie.id" :key="communitie.id">{{communitie.name}}</el-radio>
      </el-radio-group>
    </el-form-item>

    <div class="row-one">
      <div class="flex-one">
        <el-form-item label="楼号" prop="building" class="form-item">
          <el-input v-model="troublePerson.building" maxlength="10"></el-input>
          <span class="form-item-tip" v-if="!isDetail">{{troublePerson.building ? troublePerson.building.length : 0}}/10</span>
        </el-form-item>
      </div>
      <div class="flex-one">
        <el-form-item label="单元号" prop="unitNumber" class="form-item">
          <el-input v-model="troublePerson.unitNumber" maxlength="10"></el-input>
          <span class="form-item-tip" v-if="!isDetail">{{troublePerson.unitNumber ? troublePerson.unitNumber.length : 0}}/10</span>
        </el-form-item>
      </div>
      <div class="flex-one">
        <el-form-item label="房间号" prop="roomNo" class="form-item">
          <el-input v-model="troublePerson.roomNo" maxlength="10"></el-input>
          <span class="form-item-tip" v-if="!isDetail">{{troublePerson.roomNo ? troublePerson.roomNo.length : 0}}/10</span>
        </el-form-item>
      </div>
    </div>

    <!-- <el-form-item label="是否发热(体温 >= 37.3℃)" prop="isExceedTemp">
      <el-radio-group v-model="troublePerson.isExceedTemp">
        <el-radio :label="true">是</el-radio>
        <el-radio :label="false">否</el-radio>
      </el-radio-group>
    </el-form-item> -->

    <el-form-item label="体温" class="temperature" prop="isExceedTemp">
      <el-radio-group class="tem-group" v-model="troublePerson.isExceedTemp">
        <el-radio v-for="fever in feverOptions" :label="fever.value" :key="fever.value">{{fever.label}}</el-radio>
      </el-radio-group>
      <el-input-number class="tem-custom" v-if="troublePerson.isExceedTemp==='e'" v-model="customTemperature" :precision="1" :step="0.1" controls-position="right"  :min="33" :max="50"></el-input-number>
    </el-form-item>

    <el-form-item label="是否有新型肺炎接触史" prop="isContact">
      <el-radio-group v-model="troublePerson.isContact">
        <el-radio :label="true">是</el-radio>
        <el-radio :label="false">否</el-radio>
      </el-radio-group>
    </el-form-item>

    <el-form-item label="其他症状" prop="otherSymptoms">
      <el-checkbox-group v-model="otherSymptomsList">
        <el-checkbox v-for="symptoms in otherSymptoms" :label="symptoms.id" :key="symptoms.id">{{symptoms.name}}</el-checkbox>
      </el-checkbox-group>
    </el-form-item>
    <el-form-item label="分类诊疗医疗意见" prop="medicalOpinion">
      <el-radio-group v-model="troublePerson.medicalOpinion">
        <el-radio v-for="opinion in medicalOpinions" :label="opinion.id" :key="opinion.id">{{opinion.name}}</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item label="其他情况和有关困难" prop="note">
      <el-input type="textarea" :rows="2" maxlength="255" placeholder="请输入内容" v-model="troublePerson.note"> </el-input>
      <span v-if="!isDetail">
        {{ troublePerson.note ? troublePerson.note.length : 0 }}/255
      </span>
    </el-form-item>
  </el-form>
  <div class="btn-box" v-if="!isDetail">
    <el-button @click="cancel" size="mini">取 消</el-button>
    <el-button type="primary" class="primary" size="mini" key="1" v-if="isEdit" @click="submitEditForm('recordForm')">确定</el-button>
    <el-button type="primary" class="primary" size="mini" key="2" v-if="!isEdit" @click="submitForm('recordForm')">确 定</el-button>
  </div>
</div>
