.epidemic-info-form {
//   padding: 15px;
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  form {
    flex: 1;
    overflow: auto;
    padding: 15px;
    border: 1px dashed #dcdfe6;
    margin-bottom: 20px;
    .operation {
        text-align: right;
    }
    .el-form-item{
      .el-radio{
        margin-bottom: 18px;
        margin-right: 34px;
      }
    }

    .form-item{
      position: relative;
      .form-item-tip{
        position: absolute;
        top: 0;
        right: 9px;
      }
    }
    .row-one {
      display: flex;
      flex-direction: row;
      .flex-one {
        flex: 1;
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
      }
      .flex-six {
        flex: 6;
      }
      .flex-four {
        flex: 4;
      }
    }

  }
  .btn-box{
    text-align: right;
  }
  .primary {
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
    &:hover{
      background: #3fa9f0!important;  // 此处button 的 element class 没有加载上去
      color: #fff;
      background-color: #409eff;
    }
}

}
