.content{
    border: 1px dashed #dcdfe6;
    padding: 10px;
    background: #fff;
    margin-bottom: 20px;
    text-align: center;
}
.side-frame-content{
    text-align: right;
}
.btn-box{
    text-align: right;
}
.label-before::before{
    content: '*';
    color: #f56c6c;
    margin-right: 4px;
}
.label{
    display: block;
    margin-bottom: 10px;
}
.item{
    text-align: left;
    margin-bottom: 20px;
}