.community-triage{
    position: relative;
    width: 100%;
    height: 300px;
}

.item{
    position: absolute;
}

.preview-triage{
    top: 125px;
    left: 20px;
}

.register{
    top: 63px;
    left: 100px;
}

.outbreak-triage{
    top: 188px;
    left: 100px;
}

.personnel-screening{
    top: 32px;
    left: 214px;
}

.Health-records{
    top:96px;
    left: 214px;
}

.ordinary-people{
    top: 165px;
    left: 214px;
}

.fever-personnel{
    top: 235px;
    left: 214px;
}


.common-channel{
    top: 165px;
    left: 326px;
}
.hot-channel{
    top: 235px;
    left: 326px;
}

.observation-room{
    top: 235px;
    left: 435px;
}

.information-reported{
    top: 235px;
    left: 550px;
}