.epidemic-dynamic {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;
  .epidemic {
    display: flex;
    flex-direction: row;
    flex: 1;
    text-align: center;
    .county,
    .community {
      // height: 100px;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .name {
      line-height: 50px;
      font-size: 22px;
      font-weight: bold;
      .time {
        font-size: 16px;
        color: #9b9b9b;
        font-weight: normal;
      }
    }
    .detail {
      display: flex;
      flex-direction: row;
      .confirmed,
      .suspected,
      .fever,
      .dead,
      .cure {
        flex: 1;
        .txt {
          span {
            display: inline-block;
            line-height: 26px;
            background: #f6f6f6;
            padding: 0 10px;
          }
        }
      }
      .count {
        line-height: 25px;
        font-size: 20px;
        font-weight: bold;
      }
      .confirmed {
        .count {
          color: #db3838;
        }
        .comparison {
          .num {
            color: #db3838;
          }
        }
      }

      .suspected {
        .count {
          color: #d76b32;
        }
        .comparison {
          .num {
            color: #d76b32;
          }
        }
      }

      .fever {
        .count {
          color: #eea61c;
        }
        .comparison {
          .num {
            color: #eea61c;
          }
        }
      }
      .dead {
        .count {
          color: #212D47;
        }
        .comparison {
          .num {
            color: #212D47;
          }
        }
      }
      .cure {
        .count {
          color: #3EBEC9;
        }
        .comparison {
          .num {
            color: #3EBEC9;
          }
        }
      }
    }
    .diagram {
      flex: 1;
      .doughnut,
      .map {
        width: 100%;
        height: 100%;
      }
    }
  }
  .grid {
    // flex: 1;
    position: absolute;
    display: flex;
    flex-direction: row;
    background: #eae7e7;
    width: 100%;
    height: calc(100% - 120px);
    top: 100%;
    margin-top: -40px;
    left: 0;
    transition: all ease-in-out 0.5s;
    &.grid-up {
      top: 120px;
      margin-top: 0;
    }
    // top: -40px;
    .c____100____el-tabs {
      background: #fff;
      border: 1px solid #dcdfe6;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
      width: 100%;
      .c____100____el-tabs__content {
        padding: 0;
        overflow: hidden;
        position: relative;
      }
    }
    .operation {
      position: absolute;
      right: 0;
      top: 0;
      height: 40px;
      z-index: 2;
      display: flex;
      padding: 5px 0px;
      .search {
        display: inline-block;
        flex: 1;
        margin-right: 10px;
      }
      .add {
        vertical-align: middle;
        padding: 5px;
      }
      .arrow {
        vertical-align: middle;
        padding: 5px 7px;
        margin-right: 5px;
        font-size: 18px;
        font-weight: bold;
      }
    }
    .pagination {
      text-align: right;
    }
  }
}
