<div class="epidemic-dynamic">
    <div class="epidemic">
        <div class="county">
            <div class="name">江夏区</div>
            <div class="detail">
                <div class="confirmed">
                    <div class="count">500</div>
                    <div class="txt">确诊病例</div>
                </div>
                <div class="suspected">
                    <div class="count">60</div>
                    <div class="txt">疑似病例</div>
                </div>
            </div>
        </div>
        <div class="community">
            <div class="name">本社区</div>
            <div class="detail">
                <div class="confirmed">
                    <div class="count">10</div>
                    <div class="txt">确诊病例</div>
                </div>
                <div class="suspected">
                    <div class="count">15</div>
                    <div class="txt">疑似病例</div>
                </div>
            </div>
        </div>
    </div>
    <div class="Duty"></div>
</div>