<div class="epidemic-dynamic">
  <!-- <div class="title"></div> -->
  <div class="epidemic">
    <div class="county">
      <div class="name">本社区</div>
      <div class="detail">
        <div class="confirmed">
          <div class="count">500</div>
          <div class="txt"><span>确诊</span></div>
          <div class="comparison">昨日<span class="num">+10</span></div>
        </div>
        <div class="suspected">
          <div class="count">60</div>
          <div class="txt"><span>疑似</span></div>
          <div class="comparison">昨日<span class="num">+10</span></div>
        </div>
        <div class="fever">
          <div class="count">60</div>
          <div class="txt"><span>发热</span> </div>
          <div class="comparison">昨日<span class="num">+10</span></div>
        </div>
      </div>
      <div class="diagram">
        <div ref="doughnut" class="doughnut" id="doughnut"></div>
      </div>
    </div>
    <div class="community">
      <div class="name">湖北省 <span class="time">截至&nbsp;{{curProEpidemicData.updateTime}}</span></div>
      <div class="detail">
        <div class="confirmed">
          <div class="count">{{curProEpidemicData.confirm}}</div>
          <div class="txt"><span>确诊</span></div>
          <!-- <div class="comparison">昨日<span class="num">+3152</span></div> -->
        </div>
        <!-- <div class="suspected">
          <div class="count">21215</div>
          <div class="txt"><span>疑似病例</span></div>
          <div class="comparison">昨日<span class="num">+2310</span></div>
        </div> -->
        <div class="dead">
            <div class="count">{{curProEpidemicData.dead}}</div>
            <div class="txt"><span>死亡</span></div>
            <!-- <div class="comparison">昨日<span class="num">+2310</span></div> -->
          </div>
          <div class="cure">
            <div class="count">{{curProEpidemicData.cure}}</div>
            <div class="txt"><span>治愈</span></div>
            <!-- <div class="comparison">昨日<span class="num">+2310</span></div> -->
          </div>
      </div>
      <div class="diagram">
        <div ref="map" class="map" id="map"></div>
      </div>
    </div>
  </div>
  <div class="grid" :class="{'grid-up': isShowTabs}">
    <div class="operation">
      <el-input class="search" v-if="isShowTabs" suffix-icon="el-icon-search" v-model="keyWords">
      </el-input>
      <el-button v-if="isShowTabs" @click="addEpidemicPersion" circle
        class="add iconfont primary-btn iconpms-icon_Blow-Up"></el-button>
      <!-- <i class="arrow el-icon-arrow-up" @click="showTabs" :class="{'el-icon-arrow-down': isShowTabs}"></i> -->
      <el-button class="arrow default-btn el-icon-arrow-up" @click="showTabs" :class="{'el-icon-arrow-down': isShowTabs}"></el-button>
    </div>
    <el-tabs type="border-card">
      <el-tab-pane label="疫情值守">
        <el-table :data="epidemicPersonList" height="192" border stripe highlight-current-row style="width: 100%">
          <el-table-column prop="name" label="姓名" width="80">
          </el-table-column>
          <el-table-column prop="address" label="地址">
          </el-table-column>
          <el-table-column prop="medicalCondition" label="医疗情况" width="120">
          </el-table-column>
          <el-table-column prop="specialSituation" label="特殊情况" width="120">
          </el-table-column>
          <el-table-column prop="submitTime" label="报送时间" width="160">
          </el-table-column>
          <el-table-column label="操作" width="190">
            <template slot-scope="scope">
              <el-button size="mini" class="iconfont iconpms-icon_edit" @click="handleEdit(scope.$index, scope.row)">编辑
              </el-button>
              <el-button size="mini" class="el-icon-info" @click="handleDelete(scope.$index, scope.row)">详情</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination class="pagination" @size-change="handleSizeChange" @current-change="handleCurrentChange"
          :current-page="currentPage" :page-sizes="[10, 20, 30]" :page-size="pageSize"
          layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
        </el-pagination>
      </el-tab-pane>
      <el-tab-pane label="重要需求物资登记">重要需求物资登记</el-tab-pane>
    </el-tabs>
  </div>

  <side-frame ref="sideFrame" :top="80">
    <div class="side-frame-header" slot="header">
      <div class="header-title side-frame-title">
        <i></i>
        <span>疫情人员信息登记</span>
      </div>
    </div>
    <div class="side-frame-content choose-disaster" style="width: 500px;" slot="frame">
      <epidemic-info-form @save-person-success="savePersonSuccess"></epidemic-info-form>
    </div>
  </side-frame>

</div>