.resource-manage {
  background-color: #fff;
  padding: 15px;

  .resource-tabs {
    width: 100%;
  }

  .resource-tab-pane {
    height: 100%;
    width: 100%;
  }

  .c____100____el-tabs__item {
    padding: 0 20px;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    position: relative;
  }
}