<div class="navigation-guidance">
  <!-- <div
    class="guidance"
    :class="{'guidance-one': span===3,'guidance-two': span===5,'guidance-three': span===7,'guidance-four': span===10}"
    :title="$t('home.navigation_guidance')"
  >
    {{ $t('home.navigation_guidance') }}
  </div>
  <div class="wrapper" ref="wrapper">
    <div class="col">
      <div
        :title="$t('home.guide_preparation_preplan')"
        class="outer one"
        :class="{'outer-one': span===3,'outer-two': span===5,'outer-three': span===7,'outer-four': span===10}"
      >
        <span class="iconfont iconpms-icon_Switching-Guidance-for-Plan-EditorChart" @click="handleNavigator('new-plan-guidance')"></span>
        <div class="inner" :class="{'inner-one': span===3,'inner-two': span===5,'inner-three': span===7,'inner-four': span===10}"></div>
        <div
          class="triangle-container"
          :class="{'triangle-container-one': span===3,'triangle-container-two': span===5,'triangle-container-three': span===7,'triangle-container-four': span===10}"
        >
          <div class="title">{{ $t('home.guide_preparation_preplan') }}</div>
          <div
            class="triangle"
            :class="{'triangle-one': span===3,'triangle-two': span===5,'triangle-three': span===7,'triangle-four': span===10}"
          ></div>
        </div>
      </div>

      <div
        :title="$t('home.preparation_execution_plan')"
        class="outer two"
        :class="{'outer-one': span===3,'outer-two': span===5,'outer-three': span===7,'outer-four': span===10}"
      >
        <span class="iconfont iconpms-icon_Executive-Plan-Editor" @click="handleNavigator('new-plan-guidance')"></span>
        <div class="inner" :class="{'inner-one': span===3,'inner-two': span===5,'inner-three': span===7,'inner-four': span===10}"></div>
        <div
          class="triangle-container"
          :class="{'triangle-container-one': span===3,'triangle-container-two': span===5,'triangle-container-three': span===7,'triangle-container-four': span===10}"
        >
          <div class="title">{{ $t('home.preparation_execution_plan') }}</div>
          <div
            class="triangle"
            :class="{'triangle-one': span===3,'triangle-two': span===5,'triangle-three': span===7,'triangle-four': span===10}"
          ></div>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        :title="$t('home.knowledge_standard_library_construction')"
        class="outer three"
        :class="{'outer-one': span===3,'outer-two': span===5,'outer-three': span===7,'outer-four': span===10}"
      >
        <span class="iconfont iconpms-icon_Knowledge-Base-Criteria" @click="handleNavigator('attribute-manage')"></span>
        <div class="inner" :class="{'inner-one': span===3,'inner-two': span===5,'inner-three': span===7,'inner-four': span===10}"></div>
        <div
          class="triangle-container"
          :class="{'triangle-container-one': span===3,'triangle-container-two': span===5,'triangle-container-three': span===7,'triangle-container-four': span===10}"
        >
          <div class="title">{{ $t('home.knowledge_standard_library_construction') }}</div>
          <div
            class="triangle"
            :class="{'triangle-one': span===3,'triangle-two': span===5,'triangle-three': span===7,'triangle-four': span===10}"
          ></div>
        </div>
      </div>

      <div
        :title="$t('home.preplan_ability_verification')"
        class="outer four"
        :class="{'outer-one': span===3,'outer-two': span===5,'outer-three': span===7,'outer-four': span===10}"
      >
        <span class="iconfont iconpms-icon_Plan-ability" @click="handleNavigator('create-deduction')"></span>
        <div class="inner" :class="{'inner-one': span===3,'inner-two': span===5,'inner-three': span===7,'inner-four': span===10}"></div>
        <div
          class="triangle-container"
          :class="{'triangle-container-one': span===3,'triangle-container-two': span===5,'triangle-container-three': span===7,'triangle-container-four': span===10}"
        >
          <div class="title">{{ $t('home.preplan_ability_verification') }}</div>
          <div
            class="triangle"
            :class="{'triangle-one': span===3,'triangle-two': span===5,'triangle-three': span===7,'triangle-four': span===10}"
          ></div>
        </div>
      </div>
    </div>
  </div> -->
</div>
