<div class="unload-knowledger-container">
  <div class="no-data" v-if="modelList.length <= 0">{{ $t('common.no_data') }}</div>
  <div class="unload-knowledger-box" v-else="modelList.length <= 0">
    <el-carousel class="unload-knowledger-carousel" :autoplay="false" type="card">
      <el-carousel-item v-for="item in modelList" :key="item.id">
        <div class="knowledger-item">
          <div
            class="unload-knowledger-content"
            :class="{'knowledger-content-one': span===3,'knowledger-content-two': span===5,'knowledger-content-three': span===7,'knowledger-content-four': span===10}"
          >
            <div class="pentagon">
              <div class="quadrilateral">
                <span
                  v-if="item.icon.iconfont && item.icon.isIcon"
                  class="iconfont"
                  :class="item.icon.iconfont"
                  :style="{color:item.icon.iconColor}"
                ></span>
                <img v-if="item.icon.iconfont && !item.icon.isIcon" :src="item.icon.iconfont" alt="" />
                <span v-if="!item.icon.iconfont" class="iconfont iconpms-icon_authority"></span>
              </div>
              <div class="triangle triangle-top"></div>
              <div class="triangle triangle-bottom"></div>
            </div>
            <div class="top"></div>
            <div class="content">
              <p class="name">{{ item.name }}</p>
              <el-button
                :class="{'btn-one': span===3,'btn-two': span===5,'btn-three': span===7,'btn-four': span===10}"
                type="primary"
                :title="$t('home.unload_knowledge_model')"
                @click="onRemoveModel(item)"
                class="iconfont iconpms-icon_delet"
                ><span class="btn-text">{{ $t('home.unload_knowledge_model') }}</span></el-button
              >
            </div>
          </div>
        </div>
      </el-carousel-item>
    </el-carousel>
  </div>
</div>
