<div class="anchor-nav-box">
  <div class="search-box" v-if="showSearchInput">
    <el-input
      class="input-search"
      v-model="searchValue"
      :placeholder="$t('tempMgr.keywords_search_placeholder')"
      suffix-icon="iconfont iconpms-icon_search"
    ></el-input>
  </div>
  <div class="anchor-nav-content" v-for="(item, index) in data">
    <b></b>
    <transition name="slide-fade">
      <!-- <div v-if="currentItem.id === item.id" class="pointer-to"> -->
      <div v-if="scrollTo === index" class="pointer-to">
        <div class="square"></div>
        <div class="triangle"></div>
      </div>
    </transition>
    <span></span>
    <a class="source-name" @click="onAnchorNavClick(item, index)" :title="item.name">{{ item.name }}</a>
  </div>
</div>
