.community-qr-manage{
  width: 100%;
  height: 100%;
  background: #fff;


  .top {
    
    padding: 10px;
    height: 52px;
    .search {
     
     

      .keywords-search {
        width: 300px;
        margin-right: 10px;
        min-width: 200px;
      }
    }
  }

  .content{
    height: calc(100% - 52px);
  }
  
  
  
}