<div class="community-list">
  <div class="title header-title">
    <i></i>
    <span>{{communityBrief.communityName}}日常排查简报</span>
  </div>
  <div class="summary">
    <div class="row">
      <div class="com-count">
        <img :src="comCountImg" alt="">
          <div class="txt">小区总数</div>
          <div class="count">{{communityBrief.plotTotal}}</div>
      </div>
      <div class="total-report-count">
        <img :src="totalCountImg" alt="">
          <div class="txt">应填报总人数</div>
          <div class="count">{{communityBrief.troubleshootTotal}}</div>
      </div>
    </div>
    <div class="row">
      <div class="taday-report-count">
        <img :src="todayCountImg" alt="">
          <div class="txt">当日填报人数</div>
          <div class="count">{{communityBrief.dailyTroubleshootTotal}}</div>
      </div>
      <div class="abnormal-count">
        <img :src="abnormalImg" alt="">
          <div class="txt">异常人数</div>
          <div class="count">{{communityBrief.abnormalTotal}}</div>
      </div>
    </div>
  </div>
  <div class="sort">
    <el-button @click="sort(modelType.fillRate)"
        :class="checkType === modelType.fillRate ? 'primary-btn' : 'unchecked-btn'">
        今日填报率
      </el-button>
      <el-button @click="sort(modelType.abnormalNumber)"
        :class="checkType === modelType.abnormalNumber ? 'primary-btn' : 'unchecked-btn'">
        异常人数
      </el-button>
  </div>
  <ul class="list">
    <li v-for="data in plotsBrief">
      <div class="header">
          <img :src="communityImg" alt="">
          <span>{{data.plotName}}</span>
      </div>
      <div class="bottom">
          <div class="total">
              <div class="count">{{data.plotTroubleshootTotal}}</div>
              <div class="txt">总人数</div>
          </div>
          <div class="today">
            <div class="count">{{data.plotDailyTroubleshootTotal}}</div>
            <div class="txt">当日填报人数</div>
          </div>
          <div class="abnormal">
            <div class="count">{{data.plotAbnormalTotal}}</div>
            <div class="txt">异常人数</div>
          </div>
          <div class="percent">
            <div class="count">{{data.troubleshootRate}}</div>
            <div class="txt">今日填报率</div>
          </div>
      </div>
    </li>
  </ul>
</div>