<div class="epidemic-list-wrapper">
  <div class="list-header">
    <div class="operation-zone clearfix">
      <div class="btn-group">
        <!-- <el-button @click="handleSort" class="iconfont type-btn iconfont iconpms-icon_Time-descending">
          {{ $t('plan_manage.time_sort') }}
        </el-button> -->
        <el-button v-if="sort.flag==='desc'" @click="handleSort" class="iconfont type-btn iconfont iconpms-icon_Time-descending">
          {{ $t('plan_manage.time_sort') }}
        </el-button>
        <el-button v-else @click="handleSort" class="iconfont type-btn iconfont iconpms-icon_Chronological-ascent">
          {{ $t('plan_manage.time_sort') }}
        </el-button>

        <el-button @click="addEpidemicPersion" type="success" class="type-btn add iconfont iconpms-icon_Blow-Up">新增</el-button>
        <el-button @click="exportExcel" class="type-btn export-xlsx iconfont iconpms-icon_Upload-files">导出</el-button>
      </div>
      <div class="btn-group" style="margin-top: 10px;">
        <div class="filter-options">
          <!-- <span>按小区过滤</span> -->
          <el-select v-model="selectionCommunities" clearable multiple collapse-tags placeholder="请选择小区">
            <el-option v-for="item in communities" :key="item.id" :label="item.name" :value="item.id"> </el-option>
          </el-select>
        </div>
        <div class="filter-options">
          <!-- <span>按发热情况过滤</span> -->
          <el-select v-model="selectFeverState" clearable placeholder="请选择发热情况">
            <el-option v-for="(item, index) in feverStates" :key="index" :label="item.label" :value="item.value"> </el-option>
          </el-select>
        </div>
        <div class="filter-options">
          <!-- <span>按诊疗情况过滤</span> -->
          <el-select v-model="selectionDiagnosisSituation" clearable multiple collapse-tags placeholder="请选择诊疗情况">
            <el-option v-for="item in diagnosisSituations" :key="item.id" :label="item.name" :value="item.id"> </el-option>
          </el-select>
        </div>
        <div class="filter-options">
          <!-- <span>按就医情况过滤</span> -->
          <el-select v-model="selectionMedicalSituations" clearable multiple collapse-tags placeholder="请选择就医情况">
            <el-option v-for="item in medicalSituations" :key="item.id" :label="item.name" :value="item.id"> </el-option>
          </el-select>
        </div>
      </div>
      <div style="float: right;">
        <div class="filter-options" style="margin-left: 2.4em; margin-right: 0;">
          <el-button @click="resetData" class="type-btn reset iconfont iconpms-icon_Reset">{{ $t('plan_manage.reset') }} </el-button>
          <div class="input-search">
            <input
              ref="searchInput"
              type="text"
              autofocus
              @input="debounceSearch"
              v-model="keyWords"
              placeholder="请输入姓名或电话号码进行过滤"
            />
            <span class="iconfont iconpms-icon_search iconfont-size"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper infinite-list-wrapper" ref="list-wrapper">
    <!-- 按照卡片的方式进行展示 -->
    <div class="content" v-if="displayMode==='card'">
      <div v-for="(data, index)  in epidemicPersonList" :key="data.id">
        <el-card class="box-card">
          <div slot="header" class="card-header">
            <span class="name" :title="data.name"
              >{{ data.name }} &nbsp; <span class="community-name">{{data.communityModel.name}}</span></span
            >
            <span
              class="prev-color diagnosis"
              v-if="data.diagnosisSituationModel.name"
              :style="{'background': data.diagnosisSituationModel.imgColor}"
            >
              {{ data.diagnosisSituationModel.name }}</span
            >
            <span class="submit-time">报送时间:{{data.submitTime}}</span>
          </div>
          <div class="body">
            <div class="item plan-type">
              <div class="title">
                <i class="iconfont iconpms-icon_Event-type"></i>
                <span>手机号</span>
              </div>
              <div class="name">{{data.mobileNumber}}</div>
            </div>
            <div class="item plan-type">
              <div class="title">
                <i class="iconfont iconpms-icon_txt"></i>
                <span>就医情况</span>
              </div>
              <div class="name">{{ data.medicalConditionModel.name }}</div>
            </div>
            <div class="item event-type">
              <div class="title">
                <i class="iconfont iconpms-icon_Event-type"></i>
                <span>特殊情况</span>
              </div>
              <div class="name">{{ data.specialSituationModel.name }}</div>
            </div>
            <div class="card-btn">
              <div class="flr">
                <el-button
                  @click="handleEdit(data)"
                  size="small"
                  icon="iconfont iconpms-icon_edit"
                  :title=" $t('common.edit')"
                  type="primary"
                  round
                >
                </el-button>
              </div>
            </div>
          </div>
        </el-card>
      </div>
      <!-- <div v-infinite-scroll="queryEpidemicPersons" infinite-scroll-delay="500" infinite-scroll-distance="40"
        infinite-scroll-immediate="false" infinite-scroll-disable="disabled"></div> -->
    </div>
    <!-- 按照列表的方式进行展示 -->
    <div class="content" v-if="displayMode==='table'">
      <el-table
        ref="personDataTable"
        :cell-style="{padding:'16px 0px'}"
        height="366"
        max-height="490"
        class="table-content cart-table-item"
        :data="epidemicPersonList"
        stripe
        highlight-current-row
        style="width: 100%"
        @cell-click="handleClickRow"
      >
        <el-table-column label="姓名" width="70" :show-overflow-tooltip="true">
          <template slot-scope="scope">
            <span class="room-num">{{ scope.row.name}}</span>
            <!-- <span class="special-flag" v-if="canShowSpecialFlag(scope.row)">{{ scope.row.specialSituationModel.name}}</span> -->
          </template>
        </el-table-column>
        <el-table-column width="70">
          <template slot-scope="scope">
            <span class="special-flag" v-if="canShowSpecialFlag(scope.row)">{{ scope.row.specialSituationModel.name}}</span>
          </template>
        </el-table-column>
        <el-table-column label="小区名称" :show-overflow-tooltip="true">
          <template slot-scope="scope">
            {{ scope.row.communityModel.name }}
            <!-- {{replacePlot(scope.row.plot)}} -->
          </template>
        </el-table-column>
        <el-table-column label="房号" width="120" :show-overflow-tooltip="true">
          <template slot-scope="scope">
            <span class="room-num">{{ scope.row.building }} - {{scope.row.unitNumber}} - {{scope.row.roomNumber}}</span>
          </template>
        </el-table-column>
        <!-- <el-table-column label="是否有接触史" width="110">
          <template slot-scope="scope">
            {{scope.row.isContact ? '是' : '否'}}
          </template>
        </el-table-column> -->
        <!-- <el-table-column label="其他症状" :show-overflow-tooltip="true">
          <template slot-scope="scope">
            {{replaceOtherSymptoms(scope.row.otherSymptoms)}}
          </template>
        </el-table-column> -->
        <el-table-column label="发热情况" width="100">
          <template slot-scope="scope">
            <el-tag effect="dark" size="mini" :type="scope.row.temperature ? 'danger' : 'primary'" disable-transitions>
              {{scope.row.temperature ? '发热' : '正常'}}</el-tag
            >
          </template>
        </el-table-column>
        <el-table-column label="诊疗情况" width="130" :show-overflow-tooltip="true">
          <template slot-scope="scope">
            {{scope.row.medicalOpinionModel.name}}
          </template>
        </el-table-column>
        <el-table-column label="就医情况" width="130" :show-overflow-tooltip="true">
          <template slot-scope="scope">
            {{scope.row.medicalConditionModel.name}}
          </template>
        </el-table-column>
        <el-table-column prop="createTime" sortable label="填报时间" width="160" :show-overflow-tooltip="true">
          <template slot-scope="scope">
            {{replaceTime(scope.row.submitTime)}}
          </template>
        </el-table-column>
        <el-table-column label="" width="120" label="操作">
          <template slot-scope="scope">
            <el-button
              style="padding: 7px 10px;"
              size="mini"
              class="iconfont edit-btn primary-btn iconpms-icon_edit"
              title="编辑"
              @click="handleEdit(scope.row)"
            ></el-button>

            <el-button
              style="padding: 7px 10px; background-color: #67c23a !important; border-color: #67c23a;"
              size="mini"
              type="success"
              class="iconfont edit-btn primary-btn iconpms-icon_Health"
              title="就医情况变更"
              @click="handleShowChangeMedical(scope.row)"
            >
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!-- <div v-if="epidemicPersonList.length === 0" class="no-plan"></div> -->
  </div>
  <el-pagination
    class="pagination"
    @size-change="handleSizeChange"
    @current-change="handleCurrentChange"
    :current-page="currentPage"
    :page-sizes="[10, 20, 30]"
    :page-size="pageSize"
    layout="total, sizes, prev, pager, next, jumper"
    :total="totalCount"
  >
  </el-pagination>

  <side-frame ref="sideFrame" :top="80" :canClose="canClose">
    <div class="side-frame-header" slot="header">
      <div class="header-title side-frame-title">
        <i></i>
        <span>{{formTitle}}</span>
      </div>
    </div>
    <div class="side-frame-content choose-disaster" style="width: 500px;" slot="frame">
      <epidemic-info-form
        :editEpidemicPerson="editEpidemicPerson"
        @save-person-success="savePersonSuccess"
        @cancel="cancelEdit"
        @on-create-data="handleCreate"
      ></epidemic-info-form>
    </div>
  </side-frame>

  <el-dialog width="450px" title="变更就医情况" top="32vh" :visible.sync="showChangeModal" :show-close="false">
    <div class="dialog-info-item">
      <span class="dialog-info-content person-name">{{editEpidemicPerson? editEpidemicPerson.name : ''}}</span>
    </div>
    <div class="dialog-info-item">
      <span class="dialog-info-content special-flag" v-if="canShowSpecialFlag(editEpidemicPerson)"
        >{{ editEpidemicPerson.specialSituationModel.name}}</span
      >
      <span class="dialog-info-content">
        <i class="iconfont iconpms-icon_home-icon"></i>
        {{ editEpidemicPerson.building }}-{{editEpidemicPerson.unitNumber}}-{{editEpidemicPerson.roomNumber}}
      </span>
      <span class="dialog-info-content"
        ><i class="iconfont iconpms-icon_role"></i> {{editEpidemicPerson? editEpidemicPerson.mobileNumber : ''}}</span
      >
    </div>
    <div class="dialog-info-item" style="margin-bottom: -10px;">
      <p class="dialog-info-title">当前就医情况</p>
      <p class="dialog-info-content">
        {{editEpidemicPerson && editEpidemicPerson.medicalConditionModel? editEpidemicPerson.medicalConditionModel.name: '暂无'}}
      </p>
    </div>
    <div class="dialog-info-item">
      <p class="dialog-info-title">变更为</p>
      <el-select v-model="currentMedicalSituation" style="width: 100%; margin-bottom: 18px;" clearable placeholder="请选择就医情况">
        <el-option
          v-if="item.id!== editEpidemicPerson.medicalCondition"
          v-for="item in medicalSituations"
          :key="item.id"
          :label="item.name"
          :value="item.id"
        >
        </el-option>
      </el-select>
    </div>
    <div style="text-align: right; margin:10px 0">
      <el-button size="mini" type="text" @click="showChangeModal=false">取消</el-button>
      <el-button
        type="primary"
        size="mini"
        :disabled="!currentMedicalSituation || currentMedicalSituation === ''"
        @click="handleSubmitMedicalSituationChange"
        >确定</el-button
      >
    </div>
  </el-dialog>
</div>
