<div class="epidemic-list-wrapper">
  <div class="list-header">
    <div class="operation-zone clearfix">
      <div class="btn-group">
        <!-- <el-button @click="handleSort" class="iconfont type-btn iconfont iconpms-icon_Time-descending">
          {{ $t('plan_manage.time_sort') }}
        </el-button> -->
        <el-button v-if="sort.flag==='desc'" @click="handleSort" class="iconfont type-btn iconfont iconpms-icon_Time-descending">
          {{ $t('plan_manage.time_sort') }}
        </el-button>
        <el-button v-else @click="handleSort" class="iconfont type-btn iconfont iconpms-icon_Chronological-ascent">
          {{ $t('plan_manage.time_sort') }}
        </el-button>
        
        <el-button @click="addEpidemicPersion" class="add iconfont primary-btn iconpms-icon_Blow-Up">新增</el-button>
        <el-button @click="resetData" class="iconfont type-btn reset iconfont iconpms-icon_Reset">{{
              $t('plan_manage.reset')
            }}</el-button>
        <div class="input-search">
          <input ref="searchInput" type="text" autofocus @input="debounceSearch" v-model="keyWords"
            :placeholder="$t('tempMgr.keywords_search_placeholder')" />
          <span class="iconfont iconpms-icon_search iconfont-size"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper infinite-list-wrapper" ref="list-wrapper">
    <div class="content">
      <div v-for="(data, index)  in epidemicPersonList">
        <el-card class="box-card">
          <div slot="header" class="card-header">
            <!-- <i v-if="data.eventType && data.eventType.image && data.eventType.image.isIcon"
              class="iconfont event-type-icon" :style="{'background-color': transformEventBgColor(data.eventType)}"
              :class="['' + data.eventType.image.iconfont + '']"></i>
            <i v-if="data.eventType && data.eventType.image && data.eventType.image.iconfont && !data.eventType.image.isIcon"
              class="iconfont event-type-icon event-type-img-wrapper"
              :style="{'background-color': transformEventBgColor(data.eventType)}">
              <img :src="data.eventType.image.iconfont" alt="" />
            </i> -->
            <span class="name" :title="data.name">{{ data.name }} &nbsp; <span class="community-name">{{data.communityModel.name}}</span></span>
            <span class="prev-color diagnosis" :style="{'background': data.diagnosisSituationModel.imgColor}"> {{ data.diagnosisSituationModel.name }}</span>
            <!-- <span class="prev-color diagnosis" > {{ data.diagnosisSituationModel.name }}</span> -->
            <!-- <span class="prev-color istemplate" v-else>{{ $t('system_log.plan') }}</span> -->
            <span class="submit-time">报送时间:{{data.submitTime}}</span>
          </div>
          <div class="body">
            <div class="item plan-type">
              <div class="title">
                <i class="iconfont iconpms-icon_Event-type"></i>
                <span>手机号</span>
              </div>
              <div class="name">{{data.mobileNumber}}</div>
            </div>
            <div class="item plan-type">
              <div class="title">
                <i class="iconfont iconpms-icon_txt"></i>
                <span>医疗情况</span>
              </div>
              <div class="name">{{ data.medicalConditionModel.name }}</div>
            </div>
            <div class="item event-type">
              <div class="title">
                <i class="iconfont iconpms-icon_Event-type"></i>
                <span>特殊情况</span>
              </div>
              <div class="name">{{ data.specialSituationModel.name }}</div>
            </div>
            <div class="card-btn">
              <div class="flr">
                <!-- <el-button :title="$t('plan_manage.history_vision')" size="small" type="primary"
                  icon="iconfont iconpms-icon_File" round></el-button> -->
                <el-button @click=handleEdit(data) size="small" icon="iconfont iconpms-icon_edit" :title=" $t('common.edit')" type="primary"
                  round>
                </el-button>
                <el-button @click="handleDelete(data)" :title="$t('common.delete')" size="small" type="danger" icon="iconfont iconpms-icon_delet"
                  round></el-button>
              </div>
            </div>
          </div>
        </el-card>
      </div>
      <!-- <div v-infinite-scroll="queryEpidemicPersons" infinite-scroll-delay="500" infinite-scroll-distance="40"
        infinite-scroll-immediate="false" infinite-scroll-disable="disabled"></div> -->
    </div>
    <div v-if="epidemicPersonList.length === 0" class="no-plan"></div>
  </div>
  <el-pagination class="pagination" @size-change="handleSizeChange" @current-change="handleCurrentChange"
    :current-page="currentPage" :page-sizes="[10, 20, 30]" :page-size="pageSize"
    layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
  </el-pagination>

  <side-frame ref="sideFrame" :top="80">
    <div class="side-frame-header" slot="header">
      <div class="header-title side-frame-title">
        <i></i>
        <span>疫情人员信息登记</span>
      </div>
    </div>
    <div class="side-frame-content choose-disaster" style="width: 500px;" slot="frame">
      <epidemic-info-form :editEpidemicPerson="editEpidemicPerson" @save-person-success="savePersonSuccess"></epidemic-info-form>
    </div>
  </side-frame>
</div>