.daily-troublesshooting{
  position: relative;
  height: 100%;
}

.left{
  width: 40%;
  height: 100%;
  display: inline-block;
  background: #f7f8fc;
  vertical-align: top;
  padding: 15px;
  display: inline-flex;
  flex-direction: column;
}

.right {
  width: calc( 60% - 4px);
  height: 100%;
  display: inline-block;
  background: #f7f8fc;
  vertical-align: top;
  padding: 15px;
}

.filter{
  display: flex;
  justify-content: flex-end;
}
