<div class="animated fadeIn statistics">
  <div class="total">
    <div class="total-chart clearfix">
      <div class="doughnut-wrapper clearfix">
        <div class="totalcount">
          <span>
            <span><span class="txt">累计: </span>{{totalCount}}</span>
          </span>
        </div>
        <div ref="doughnut" class="doughnut" id="doughnut"></div>
      </div>
    </div>
  </div>
  <!-- <div class="type">
    <div class="header-title">
      <i></i>
      <span>各类型数量</span>
    </div>
    <div class="diagram clearfix">
      <div class="circle" @click="handleStatisticsClick(data.id)" v-for="data of epidemicStaticalData">
        <epidemic-diagram width="150" :strokeStyle="data.strokeStyle" height="150"
          lineWidth="12" type="circle" :text="data.name" :count="data.count"
          :percentage="data.count/totalCount">
        </epidemic-diagram>
        <div class="line" :class="{ 'active': data.selected }"
          :style="{'background-color': data.strokeStyle}"></div>
      </div>
    </div>
  </div> -->
</div>
