<component-previewer
  :layout="previewer.layout"
  :component="previewer.component"
  :title.sync="previewer.component.name"
  :originalName="previewer.originalName"
  :target="target"
  :model="previewer.data"
  :rules="previewer.rules"
  :readMode="options.readMode"
  :printMode="options.printMode"
  :showTitle="options.showComponentTitle"
  :showBasicInfo="options.showBasicInfo"
  :normalDisplay="options.normalDisplay"
  @on-info-validated="handlePreviewValidation"
>
  <template #config-region="configRegion">
    <div></div>
  </template>
  <template #basic-info="basicInfo">
    <div class="preview-basic-info">
      <!-- <p>名称</p>
        <el-input placeholder="请输入元件名称" v-model="previewer.component.name"></el-input> -->
      <p>{{ $t('cell_type.description') }}</p>
      <el-select
        v-model="selectComponentType"
        :disabled="target==='template'"
        :placeholder="$t('component_manager.select_cell_type')"
        @change="handleComponentTypeChange"
        class="select-component-type"
      >
        <el-option
          v-for="item in componentTypes"
          :key="item.id"
          class="select-component-type"
          :title="item.name"
          :value="item.id"
          :label="item.name"
        ></el-option>
      </el-select>
      <p v-if="displayEpidemicTypeSelector">{{ $t('component_manager.epidemic_type') }}</p>
      <el-cascader
        v-if="displayEpidemicTypeSelector"
        v-model="selectEpidemicTypes"
        :clearable="true"
        :options="eventTypes"
        :props="{expandTrigger: 'hover', value: 'id', 'checkStrictly':true}"
        :placeholder="$t('component_manager.select_epidemic_type')"
        style="width: 100%"
        @change="handleEpidemicTypeChange"
      >
        <template slot-scope="{node,data}">
          <span :title="data.label" class="event-type-name">{{ data.label }}</span>
        </template>
      </el-cascader>
      <p v-if="displayResourceTypeSelector">{{ $t('component_manager.resource_type') }}</p>
      <el-cascader
        v-if="displayResourceTypeSelector"
        v-model="selectResourceTypes"
        :clearable="true"
        :options="resourceTypes"
        :props="{expandTrigger: 'hover', value: 'id', 'checkStrictly':true}"
        :placeholder="$t('component_manager.select_resource_type')"
        style="width: 100%"
        @change="handleResourceTypeChange"
      >
        <template slot-scope="{node,data}">
          <span :title="data.label" class="event-type-name">{{ data.label }}</span>
        </template>
      </el-cascader>
      <!-- <p>{{ $t('component_manager.event_description') }}</p>
      <el-cascader
        v-model="selectEventTypes"
        :clearable="true"
        :options="eventTypes"
        :props="{expandTrigger: 'hover', value: 'id', 'checkStrictly':true}"
        :placeholder="$t('component_manager.select_event_type')"
        style="width: 100%"
        @change="handleEventTypeChange"
      >
        <template slot-scope="{node,data}">
          <span :title="data.label" class="event-type-name">{{ data.label }}</span>
        </template>
      </el-cascader> -->
      <!-- <p>{{ $t('component_manager.tag') }}</p> -->
      <!-- <tag-component :dataSource="tags" @on-tags-change="handleTagsChange" :isStringTags="true"></tag-component> -->
    </div>
  </template>
</component-previewer>
