.person-detail {
  padding: 5px 10px;
  background-color: #fff;
  overflow-y: auto;
  h3 {
    // color: #909399;
    color: #555;
    font-size: 24px;
    padding: 5px 10px;
    border-bottom: 1px dashed lightgrey;
    line-height: 40px;
    .special-flag {
      margin-left: 10px;
      color: #fff;
      background: #f56c6c;
      padding: 3px 8px;
      border-radius: 5px;
      font-size: 14px;
      display: block;
      float: right;
      margin-top: 6px;
      text-align: center;
      width: 56px;
      line-height: 20px;
    }
  }
  .detail-content {
    margin-top: 16px;
    padding-left: 10px;
    .content-item {
      margin: 10px;
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 31%;
      .content-label {
        color: #3588d8;
        // color: #909399;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
}
