.person-detail {
  padding: 10px;
  background-color: #fff;
  overflow-y: auto;
  h3 {
    color: #909399;
    font-size: 24px;
    padding: 10px;
    border-bottom: 1px dashed lightgrey;
    .special-flag {
      margin-left: 10px;
      color: wheat;
      background: indianred;
      padding: 4px 14px;
      border-radius: 14px;
      font-size: 14px;
      display: block;
      float: right;
      margin-top: -1px;
      text-align: center;
      width: 56px;
    }
  }
  .detail-content {
    margin-top: 16px;
    padding-left: 10px;
    .content-item {
      margin: 10px;
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 31%;
      .content-label {
        color: #909399;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
}
