.template-page-layout {
  left: 20px !important;
  right: 20px !important;
  top: 9.6em !important;
  bottom: 1.5em !important;
  position: fixed;
  z-index: auto !important;
  display: inline-flex;
  padding: 10px;
  overflow: hidden;
}

.editor-launcher-popover {
  left: 20px !important;
  right: 20px !important;
  top: 9.6em !important;
  bottom: 1.5em !important;
  position: fixed;
  z-index: 2002;
  // background: #f4f6fc;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px;
  overflow: hidden;
}
