$danger-color: #f8662f;
.wrapper {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc( 100% - 115px);
    // overflow: auto;
    &.group-content {
    height: calc( 100% - 76px);
    }
    
    .container{
        // height: calc( 100% - 32px );
        height: 100%;
        // overflow: auto;
        position: relative;
        thead {
          color: #187ADC;
          th {
            background-color: #E9EBF5;
            padding: 5px 0;
            font-size: 15px;
            height: 45px;
          }
        }
        .card-collapse-item {
          >div:first-child {
            border-bottom: 1px solid #e6e8eb
          }
          >div:last-child {
            background: #f7f8fc;
            padding: 10px;
            > div {
              padding-bottom: 0;
              box-shadow: 0px 1px 3px #cec3c3;
            }
          }
          .collapse-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 1;
            .check-tag-container {
              flex: 4;
            }
            .unit-number {
              font-size: 20px;
              padding: 0 10px;
              flex: 6;
              font-weight: bold;
              color: #606266;
              .building-num {
                color: #505050;
                font-size: 20px;
              }
              .plot-name {
                color: #878B90;
                font-size: 16px;
                font-weight: normal;
              }
              .fever-count {
                background: #fe662a;
                color: #fff;
                border-radius: 15px;
                margin-left: 20px;
                font-size: 16px;
                padding: 6px 7px;
                border: 1px solid #ec7444;
                position: relative;
                padding-left: 32px;
                .thermometer {
                  width: 28px;
                  position: absolute;
                  left: 2px;
                  top: 0;
                  vertical-align: middle;
                }
                span {
                  vertical-align: middle;
                }
              }
            }
            button {
              display: inline-block;
              font-size: 14px;
              padding: 5px 15px 5px 15px;
            }
            .check-tag {
              margin-left: 5px;
              font-size: 16px;
              color: #878B90;
              display: inline-block;
              &:first-child {
                min-width: 120px;
              }
              .checked {
                color: #299333;
                font-size: 20px;
                font-weight: bold;
              }
              .unchecked {
                // color: #494949;
                color: #ff0000;
                font-size: 20px;
                font-weight: bold;
              }
            }
          }
          .collapse-table {
            .edit-btn {
              padding: 5px 10px;
            }
          }
          .pagination {
            background: #f7f8fc;
          }
        }
        
        .cart-table{
          flex: 1;
          position: relative;
          width: 100%;
          // height: calc(100% - 32px);
          height: 100%;
          overflow: auto;
          display: flex;
          flex-direction: column;
          .cart-table-inner{
            width: 100%;
            flex: 1;
          }
          .room-num {
            font-weight: bold;
          }
        }
        .group-table, .group-record-table {
          height: 50%;
          display: flex;
          flex-direction: column;
          .table-content {
            flex: 1;
          }
        }
        .group-table {
          border-bottom: 4px dashed #6FACE9;
          padding-bottom: 15px;
          .checked {
            color: #35B953;
            font-size: 22px;
            font-weight: bold;
          }
          .unchecked {
            color: #FF6517;
            font-size: 22px;
            font-weight: bold;
          }
          .community-cell {
            position: relative;
            display: inline-block;
            width: 100%;
            .fever-count {
              position: absolute;
              display: inline-block;
              background-color: #F84C4B;
              right: 0;
              color: #fff;
              padding: 0px 10px;
              border-radius: 0 10px 10px 10px;
              .angle {
                position: absolute;
                width: 12px;
                height: 12px;
                left: -12px;
                top: 0;
                background-color: #F84C4B;
                i {
                  display: inline-block;
                  background-color: #fff;
                  border-radius: 0 21px 0 0;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  position: absolute;
                  top: 0;
                  right: 0;
                }
              }
            }
          }
        }
        .group-record-table {
          padding-top: 15px;
        }

        .circle {
          position: absolute;
          width: 16px;
          height: 32px;
          top: 50%;
          margin-top: -16px;
          overflow: hidden;
          .inner {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: #EBEDF1;
            position: absolute;
            top: 0;
          }
          &.circle-left {
            left: -40px;
            .inner {
              right: 0;
            }
          }
          &.circle-right {
            right: -40px;
            .inner {
              left: 0;
            }
          }
        }
        
        .isExceedTemp {
          display: inline-block;
          border-radius: 100%;
          background: #f40;
          width: 25px;
          color: #FFF;
          height: 25px;
        }
    }
    .pagination{
        text-align: right;
        span:not([class*=suffix]) {
          padding: 0 5px;
        }
    }
    .person-name{
      font-size: 18px;
      display: inline-block;
      margin-right: 10px;
    }
    .bodyTemperature{
      left: 400px;
      position: absolute;
    }
    .phone{
      position: absolute;
      right: 20px;
      font-size: 14px;
      color: #6f6f6f
    }
  }