<div class="content">
    <div class="card-content">
        <div v-for="(person, index)  in personData" @dblclick="showDetail" @click="handleCardClick">
          <el-card class="box-card" :class="{isDefault: false}">
            <div slot="header" class="card-header">
              <!-- <i
                class="iconfont event-type-icon"
                :style="{'background-color': '#eee'}"
                :class="['confont event-type-icon']"
              ></i> -->
              <span class="name" :title="person.name">
                <!-- {{person.plot}}  {{person.name}} -->
                {{ person.building }} - {{person.unitNumber}} - {{person.roomNo}}
              </span>
              <!-- <span class="version">plan</span> -->
              <span class="prev-color confirmed_diagnosis" v-if="person.confirmed_diagnosis" >
                确诊
              </span>
              <span class=" bodyTemperature">
              <span :style="{'font-size': '12px', 'color':  '#3498db', 'font-weight': 600}">体温</span>
                <span :style="{'color': colorBodyTemperature(person.bodyTemperature),'font-size': '16px' }">{{person.bodyTemperature}}</span>
              </span>
              <span class="phone">
                <span>电话:</span>
                <span>{{person.phone}}</span>
              </span>
              <!-- <span class="prev-color istemplate" v-else>plan</span>
              <span class="prev-color isMultiTenancy" v-if="plan"> model</span> -->
            </div>
            <div class="body">
              <div class="item event-type">
                <div class="title">
                  <i class="iconfont iconpms-icon_Event-type"></i>
                  <span>姓名</span>
                </div>
                <div class="name">{{person.name}}</div>
              </div>
              <div class="item plan-type">
                <div class="title">
                  <i class="iconfont iconpms-icon_txt"></i>
                  <span>过去十四天是否离开过本地区</span>
                </div>
                <div class="name">{{person.leaveArea ? '是' : '否' }}</div>
              </div>
              
              <div class="item create-time">
                <div class="title">
                  <i class="iconfont iconpms-icon_time"></i>
                  <span>填报时间</span>
                </div>
                <div class="name">{{person.createTime}}</div>
              </div>
              <div class="card-btn">
                <div class="flr">
                  <el-button
                    :title="$t('plan_manage.history_vision')"
                    size="small"
                    type="primary"
                    icon="iconfont iconpms-icon_File"
                    round
                  ></el-button>
    
                  <el-button
                    size="small"
                    :icon="'iconfont iconpms-icon_Preview-document'"
                    :title="1231"
                    type="primary"
                    round
                  >
                  </el-button>
                  <el-button
                    :title="$t('plan_manage.deduction_analysis')"
                    size="small"
                    :type="'primary'"
                    icon="iconfont iconpms-icon_Deduction"
                    round
                  ></el-button>
                  <el-button
                    :title="$t('common.delete')"
                    size="small"
                    type="danger"
                    icon="iconfont iconpms-icon_delet"
                    round
                  ></el-button>
                </div>
              </div>
            </div>
          </el-card>
        </div>
    </div>
    <div v-if="personData.length === 0" class="no-plan"></div>
    <el-pagination class="pagination" @size-change="handleSizeChange" @current-change="handleCurrentChange"
    :current-page="currentPage" :page-sizes="pageSizes" :page-size="pageSize"
    layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
  </el-pagination>
  </div>