<div class="epidemic-info-form">
  <el-form :model="curEpidemicPerson" :rules="rules" label-position="top" size="mini" ref="ruleForm" label-width="100px"
    class="demo-ruleForm">
    <el-form-item label="姓名" prop="name">
      <el-input v-model="curEpidemicPerson.name"></el-input>
    </el-form-item>
    <el-form-item label="性别" prop="gender">
      <el-radio-group v-model="curEpidemicPerson.gender">
        <el-radio label="0">男</el-radio>
        <el-radio label="1">女</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item label="住址" prop="address">
      <el-input v-model="curEpidemicPerson.address"></el-input>
    </el-form-item>
    <el-form-item label="行政区划" prop="district">
      <el-input v-model="curEpidemicPerson.district"></el-input>
    </el-form-item>
    <el-form-item label="报送时间" prop="submitTime">
        <el-date-picker type="datetime" placeholder="选择日期" default-time="12:00:00" v-model="curEpidemicPerson.submitTime" style="width: 100%;"></el-date-picker>
      </el-form-item>
      <el-form-item label="发病时间" prop="diseaseTime">
        <el-date-picker type="datetime"  placeholder="选择日期" default-time="12:00:00" v-model="curEpidemicPerson.diseaseTime" style="width: 100%;"></el-date-picker>
      </el-form-item>
    <el-form-item label="医疗情况" prop="medicalCondition">
      <el-input v-model="curEpidemicPerson.medicalCondition"></el-input>
    </el-form-item>
    <el-form-item label="特殊情况" prop="specialSituation">
        <el-input v-model="curEpidemicPerson.specialSituation"></el-input>
      </el-form-item>
    <el-form-item label="备注" prop="note">
      <el-input type="textarea" v-model="curEpidemicPerson.note"></el-input>
    </el-form-item>
    <el-form-item class="operation">
      <el-button @click="resetForm('ruleForm')">取消</el-button>
      <el-button type="primary" @click="submitForm('ruleForm')">确定</el-button>
    </el-form-item>
  </el-form>
</div>