.outbreak-duty {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
  .statistical {
    background-color: #f7f8fc;
    flex: 4;
    padding: 20px;
    margin-right: 10px;
  }
  .epidemic-list {
    background-color: #f7f8fc;
    flex: 6;
    display: flex;
    padding: 10px;
    height: 100%;
    overflow: auto;
  }
}