<div class="recent-work-list" :style="{width:boxWidth}">
  <!-- <div class="no-data" v-if="dataSource.length <= 0">{{ $t('common.no_data') }}</div>
  <ul>
    <li class="item" v-for="item in dataSource">
      <div class="item-content">
        <div class="date">{{ item.time | timeFormat }}</div>
        <div
          class="desc"
          :title="item.description"
          :class="{'desc-one': span===3,'desc-two': span===5,'desc-three': span===7,'desc-four': span===10}"
        >
          {{ item.description }}
        </div>
        <div class="task-name" :title="item.operatePerson">{{ item.operatePerson }}</div>
      </div>
    </li>
    <li class="show-more" v-if="dataSource.length > 0">
      <i @click="showMore">{{ $t('common.more') }}</i>
    </li>
  </ul> -->
</div>
