<div
  style="display:inline-flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    max-height: 100%;"
>
  <component-manager
    ref="componentManager"
    class="component-manager"
    @on-editor-shown="handleEditorShown"
    @on-editor-close="handleEditorClose"
  >
    <template #component-list="componentList">
      <pms-component-list :instance="componentList"></pms-component-list>
    </template>
    <template #creatorRegion="componentCreator">
      <pms-component-creator :creator="componentCreator"></pms-component-creator>
    </template>
  </component-manager>
  <el-button
    type="primary"
    v-if="!inComponentEditState"
    @click="handleNavigateToTemplateMgr"
    style="position: fixed; top: 7.7em; right: 3em;"
    plain
    >{{ $t('component_manager.manage_component_template') }}</el-button
  >
  <RouteLeaveDialog :visible.sync="dialogVisible" @route-leave="handleRouteLeave"></RouteLeaveDialog>
</div>
