<div class="community-statistics">
  <h2 style="margin-bottom: 1em;">各社区情况统计</h2>
  <!-- <div v-for="(item, index) in communityStatisticsData" :key="index"></div> -->
  <div style="height: 90%; overflow-y: auto;">
    <div class="community-item" v-for="(item, index) in communityStatisticsData" :key="index">
      <div class="community-data">
        <span class="data-flag">
          <!-- <i class="iconfont iconpms-icon_home-icon"></i> -->
        </span>
        <div class="community-address">
          <!-- <span>
            武汉市洪山区
          </span> -->
          <span>
            {{item.name}}
          </span>
        </div>
        <div class="data-total"><span class="title">重点关注人数</span><span class="content">{{item.count}}</span></div>
      </div>
      <div class="type-total-region">
        <div class="type-items" v-for="(con, i) in item.nodeModels" :key="i">
          <span class="number" :flag="con.typeName">{{con.count}}</span>
          <span class="content">{{con.typeName}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
