<div>
  <component-template
    ref="componentTemplate"
    v-if="independentMode"
    :extraFilter="extraFilter"
    @on-category-selection-change="onSelectTemplete"
  >
    <template #extraCondition>
      <el-popover width="418" trigger="manual" v-model="showEventTypes">
        <div>
          <div class="base-event-type-region">
            <div
              class="base-event-type-item"
              v-for="(baseEventType, index) in displayBaseEventTypes"
              :class="{'base-event-type-choosen': currentBaseEventType.id === baseEventType.id}"
            >
              <el-avatar
                :key="index"
                class="iconfont base-event-type"
                :title="baseEventType.name"
                :class="baseEventType.image.iconfont"
                :src="!baseEventType.image.isIcon ? baseEventType.image.iconfont : ''"
                :style="{background: baseEventType.imgColor}"
                @click.native.stop="handleEventTypeChange(baseEventType)"
              ></el-avatar>
            </div>
          </div>

          <transition name="fade">
            <div v-if="showDetail" class="event-type-detail">
              <p style="font-size: 18px;">{{ currentBaseEventType.name }}</p>
              <el-input :placeholder="$t('common.input_key_word')" v-model="filterText" style="margin-bottom: 12px;"></el-input>
              <el-tree
                class="event-type-tree"
                ref="eventTypeTree"
                :data="currentBaseEventType.children"
                :filter-node-method="handleFilterEventType"
                @node-click="handleChildEventTypeChange"
                accordion
                highlight-current
              >
                <span slot-scope="{node,data}" class="tree-node" :title="data.label">
                  {{ data.label }}
                </span>
              </el-tree>
            </div>
          </transition>
          <label class="btn-sure" @click="showEventTypes = false">{{ $t('component_manager.hidden') }}</label>
          <label
            v-if="(currentEventType.name && currentEventType.name!=='') || (currentBaseEventType.name && currentBaseEventType.name!=='')"
            class="btn-cancel"
            @click="handleReset"
            >{{ $t('component_manager.reset') }}</label
          >
        </div>
        <el-button
          slot="reference"
          type="primary"
          class="event-type-filter primary-btn"
          :title="finalChooseEventTypeName"
          @click="handleChooseEventTypes"
          >{{ finalChooseEventTypeName }}</el-button
        >
      </el-popover>

      <!-- 多租户 -->
      <el-button
        style="padding: 0px;
        border: none;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 9.8em;
        right: 5.5em;
        z-index: 1;"
        v-if="showFullEmptyNotice && isShowModel"
        circle
        @click="loadMultiTenancy()"
      >
        <el-dropdown trigger="click" placement="bottom-start" class="multi-dropdown dropdown-tenancy">
          <span class="multi-name">{{ $t('base_data_manage.model') }}</span>
          <el-dropdown-menu class="multiTenancy-drop" slot="dropdown">
            <el-dropdown-item v-for="(mul, index) in multiTenancys" :key="index" :command="mul">
              <div class="multiTenancy-child">
                <div class="mul-icon">
                  <img v-if="mul.image && !mul.image.isIcon && mul.image.iconfont" :src="mul.image.iconfont" />
                  <i v-if="mul.image && mul.image.isIcon && mul.image.iconfont" :class="mul.image.iconfont" class="iconfont event-btn"></i>
                </div>
                <div class="multiTenancy-name">{{ mul.name }}</div>
              </div>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </el-button>
    </template>
    <template #editor="editor">
      <pms-component-editor :editor="editor"></pms-component-editor>
    </template>
  </component-template>
  <el-button type="primary" @click="handleNavigateToComponentMgr" style="position: fixed; top: 7.7em; right: 3em;" plain>{{
    $t('component_manager.return_component_manage')
  }}</el-button>
  <RouteLeaveDialog :visible.sync="dialogVisible" @route-leave="handleRouteLeave"></RouteLeaveDialog>
</div>
