<div class="qrcode-info-add">
  <el-form
    :model="currentQRCodeForm"
    :rules="rules"
    label-position="top"
    size="mini"
    ref="ruleForm"
    label-width="100px"
    class="demo-ruleForm"
  >
    <el-form-item label="小区编码" prop="commuityCode">
      <el-input v-model="currentQRCodeForm.commuityCode" :disabled="disabledFlag"></el-input>
    </el-form-item>
    <el-form-item label="小区名称" prop="commuityName">
      <el-input v-model="currentQRCodeForm.commuityName" :disabled="disabledFlag"></el-input>
    </el-form-item>
    <el-form-item label="行政区划code" prop="regionalismCode">
      <el-input v-model="currentQRCodeForm.regionalismCode" :disabled="disabledFlag"></el-input> 
      <!-- <el-cascader 
      placeholder="搜索" 
      v-model="currentQRCodeForm.regionalismCode"
      :options="options" 
      :props="props"  
      filterable
      @change="handleNodeChange"
      clearable></el-cascader> -->
    </el-form-item>
    <!-- <el-form-item label="责任人" prop="responsible"> -->
    <el-form-item label="包保人" prop="responsible">
      <el-input v-model="currentQRCodeForm.responsible"></el-input>
    </el-form-item>
    <!-- <el-form-item label="联系人电话" prop="responsiblePhone"></el-form-item> -->
    <el-form-item label="包保人电话" prop="responsiblePhone">
      <el-input v-model="currentQRCodeForm.responsiblePhone"></el-input>
    </el-form-item>
    <el-form-item class="operation">
      <el-button @click="resetForm('ruleForm')">取消</el-button>
      <el-button type="primary" @click="submitForm('ruleForm')">确定</el-button>
    </el-form-item>
  </el-form>
</div>
