$color-primary: #3498db; //#18c79c3498db
// 背景色样式
$login-bgc: #2d3a4b;
// 边框色
// 主要颜色
$main-color: #f2784b;
// 全局内容字体颜色
$text-color: #555;
// 全局标题字体颜色
$title-color: #555;
// 盒子主要背景色
$box-background: #f5f7fa;
// 边框颜色
$border-color: #e3e5e9;
$color-success: #67c23a;
// 盒子底色
$grounding-color: #ecedf1;
// list item background
$list-item-background: #f6f8fc;
// active border color
$active-border-color: #7eadde;
$danger-color: #f8662f;
$default-btn-color: #fff;
$color-primary1: #3498db;
$input-background: white;
$loading-mask-background-color: rgba(255, 255, 255, 0.9);
$scroll-background-color: #d3d3d3;
$active-text-color:#ffffff;
$active-background-color:#3498db;
$mce-active-background:lightgray;
$mce-content-text-color:#555555;
$mce-active-toolbar-grp-btn:#555555;