

.login-form {
  
  .c____5____el-form-item {
    margin-bottom: 10px;

    .c____100____el-form-item__label {
      text-align: right;
      vertical-align: middle;
      float: left;
      font-size: 14px;
      color: #606266;
      line-height: 40px;
      padding: 0 12px 0 0;
      box-sizing: border-box;
    }

    .c____5____el-input__inner {
      // border-radius: 0;
      // border-left: 0;
      // border-top: 0;
      // border-right: 0;

      -webkit-appearance: none;
      background-color: #fff;
      background-image: none;
      border-radius: 4px;
      border: 1px solid #dcdfe6;
      box-sizing: border-box;
      color: #606266;
      display: inline-block;
      font-size: inherit;
      height: 36px;
      line-height: 36px;
      outline: 0;
      padding: 0 15px;
      transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
      width: 100%;
      border: 0;
      border-bottom: 2px solid #e6e6e6;
      border-radius: 0;

      &::placeholder {
        color: #C0C4CC;
      }
    }
  }

  .c____100____el-autocomplete {
    width: 100%;
  }

  .labelUser {
    font-size: 16px !important;
    color: #222222 !important;
    opacity: 0.75;

    .el-checkbox__label {
      font-size: 16px !important;
      color: #222222 !important;
      opacity: 0.75;
    }
  }

  .labeUserInpit {
    margin-bottom: 20px;
  }

  .passwordLabel {
    margin-top: 28px;
  }

  .login-btn {
    border: 1px solid #3498db !important;
    color: #3498db !important;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 9px 20px 7px;

    &:hover,
    &:focus {
      color: #fff !important;
      background-color: #3498db !important;
    }
  }

  // input:-webkit-autofill,
  // textarea:-webkit-autofill,
  // select:-webkit-autofill {
  //   -webkit-box-shadow: 0 0 0 1000px white inset !important;
  // }
  .el-input__inner,
  .el-form-item.is-success .el-input__inner,
  .el-form-item.is-success .el-input__inner:focus,
  .el-form-item.is-success .el-textarea__inner,
  .el-form-item.is-success .el-textarea__inner:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-bottom: 1px solid #e6e6e6 !important;
  }

  .el-form-item.is-error .el-input__inner,
  .el-form-item.is-error .el-input__inner:focus,
  .el-form-item.is-error .el-textarea__inner,
  .el-form-item.is-error .el-textarea__inner:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-bottom: 1px solid #f56c6c !important;
  }

  .login-error {
    margin-top: -5px;
    margin-bottom: 15px;
    padding: 5px;
    background: #fff;
    // border: 1px solid red;
    background-color: #fef0f0 !important;
    color: #F56C6C !important;
  }
}

.username {
  margin-bottom: 30px;
}

.remember-password {
  margin-top: 40px;
  margin-bottom: 5px;
}

.login-logo {
  text-align: center;
  margin: 0 0 52px 0;
}

.login-button {
  width: 100%;
}

.login-title {
  font-size: 24px;
  color: #e37132;
  text-align: center;
  margin-bottom: 20px;
}

.logo-title {
  margin: 0 0 144px 0;
}


.login-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  .copy-right{
    position: absolute;
    bottom: 7%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
  }

  .login-bg {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/new-img/login.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // filter: blur(3px);
  }

  .loginWarp {
    /* margin: 280px auto 0 auto; */
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 231px;
    top: 77px;
    //right: 20%;

    .system-logo {
      // margin: 14% 20px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        float: left;
        position: relative;
        object-fit: contain;
      }

      .log-txt {
        float: left; //text-indent: 40px;
        font-size: 36px;
        line-height: 110px;
        color: #ffffff;
        font-weight: bold;
        letter-spacing: 0.2em;
        position: relative;
        margin-left: 15px;
      }

      .text-spacing {
        letter-spacing: 0;
      }

      p {
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
        max-width: 480px;
      }
    }

    .login-account {
      margin-left: 20px;
      padding: 15px;
      background: #ffffff;
      border-radius: 5px;
      width: 390px;
      min-height: 420px;

      .login-title {
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
        text-align: left;
        color: #222;
        width: 110px;
        padding-bottom: 10px;
        display: inline-block;
        border-bottom: 3px solid #237dd9;
        font-weight: 500;
      }

      >:nth-child(3) {
        position: absolute;
        background-color: rgba(255, 255, 255, .9) !important;
        margin: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity .3s;
        z-index: 1998
      }
    }

    .select-role {
      padding: 15px;
      background: #ffffff;
      border-radius: 5px;
      width: 380px;
      min-height: 400px;
      margin-left: 20px;
      color: #555;

      .role-title {
        font-size: 18px;
        height: 24px;
        line-height: 24px;
        font-weight: bold;
        color: #555;
        margin-bottom: 8px;
        padding-left: 10px;
      }

      .role {
        .frame {
          min-height: 280px;
          overflow: scroll;
          margin-bottom: 10px;
          padding: 10px 0px;

          li {
            font-size: 16px;
            height: 40px;
            line-height: 40px;
            margin: 6px 0;
            text-align: left;
            padding-left: 10px;
            cursor: pointer;
            border-radius: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          li:hover {
            color: #3498db;
            background: #f2f2f2;
          }

          .is-select {
            color: #3498db;
            background: #f2f2f2;
          }
        }
      }

      .confirm {
        width: 100%;
        display: flex;
        justify-content: center;

        .confirm-btn {
          width: 45%;
          position: relative;
          bottom: 10px;
          border: 1px solid #3498db !important;
          color: #3498db !important;
          background-color: #fff;

          &:hover,
          &:focus {
            color: #fff !important;
            background-color: #3498db !important;
          }
        }
      }
    }
  }
}

.c____100____el-autocomplete-suggestion {
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #e4e7ed !important;
  box-sizing: border-box;
  background-color: #fff !important;

  li {
    padding: 0 20px;
    margin: 0;
    line-height: 34px;
    cursor: pointer;
    color: #606266 !important;
    font-size: 14px;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: #dcdfe6 !important;
    }
  }

  :last-child {
    border-bottom-color: #EBEEF5 !important;

    &::after {
      top: 1px;
      margin-left: -6px;
      border-top-width: 0;
      border-bottom-color: #FFF !important;

    }
  }

}

.option {
  .c____100____el-checkbox__inner {
    display: inline-block;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #fff;
    z-index: 1;
    transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46),
      background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
  }

  .c____100____el-checkbox {
    color: #555;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
  }
}