$color-primary: #3498db; //#18c79c3498db
// 背景色样式
$login-bgc: #2d3a4b;
// 边框色
// 主要颜色
$main-color: #f2784b;
// 全局内容字体颜色
$text-color: #fff;
// 全局标题字体颜色
$title-color: #ffba00;
// 盒子主要背景色
$box-background: #fff;
// 边框颜色
$border-color: #1e3763;
$color-success: #67c23a;
// 盒子底色
$grounding-color: #ecedf1;
// list item background
$list-item-background: #f6f8fc;
// active border color
$active-border-color: #7eadde;
$danger-color: #f8662f;
$default-btn-color: #1e3763;
$color-primary1: #ffba00;
$input-background: #243d69;
$loading-mask-background-color: rgba(30, 55, 99, 0.9);
$scroll-background-color: #1e3763;
$active-text-color:#ffffff;
$active-background-color:#3498db;
$mce-active-background:#3498db;
$mce-content-text-color:#ffffff;
$mce-active-toolbar-grp-btn:#3498db;