<div class="resource-add">
        <el-button type="primary" icon="el-icon-circle-plus-outline" @click="resourceAdd">新增入库</el-button>
        <el-side-frame ref="sideFrame">
          <div class="side-frame-header" slot="header">
            <div class="header-title">
              <i></i>
              <span class="user-role-title">新增入库</span>
            </div>
          </div>
          <div class="side-frame-content choose-disaster" style="width: 500px;" slot="frame">
            <el-form class="res-form" ref="resform" :model="resform" label-width="80px" label-position="top">
            <el-form-item label="物资编号" required>
              <el-input v-model="resform.resId"></el-input>
            </el-form-item>
            <el-form-item label="名称" required>
                <el-input v-model="resform.resName"></el-input>
            </el-form-item>
            <el-form-item label="类型" required>
                <el-input v-model="resform.resType"></el-input>
            </el-form-item>
            <el-form-item label="规格" required>
                <el-input v-model="resform.resSpec"></el-input>
            </el-form-item>
            <el-form-item label="数量" required>
                <el-input v-model="resform.resCount"></el-input>
            </el-form-item>
            <el-form-item label="单位" required>
                <el-input v-model="resform.resunit"></el-input>
            </el-form-item>
            <el-form-item label="更新时间" required>
                <el-input v-model="resform.resUpdateTime"></el-input>
            </el-form-item>
          </el-form>
          <div class="btn-box">
              <el-button @click="close">取 消</el-button>
              <el-button type="primary" @click="submit">确 定</el-button>
          </div>
          </div>
        </el-side-frame>
    </div>