.resource-edit{
    display: inline-block;
    text-align: left;
    width: 100%;
    .res-form {
        border: 1px dashed #dcdfe6;
        padding: 10px;
        background: #fff;
        margin-bottom: 20px;
    }
    .header-title{
        text-align: left;
    }
    .btn-box{
        text-align: right;
    }
}

.select-input{
    width: 100%;
}
