.c____100____expand-all-filter {
  height: 463px !important;
}

.c____100____more-filter-region {
  padding: 12px;
  background: white;
  margin-top: 0.7em;
  margin-bottom: 1em;
  padding-bottom: 23px;
  text-align: left;
  border-radius: 5px;
  max-height: 363px;
  overflow-y: auto;
  -webkit-box-shadow: lightgrey 0px 2px 5px 0px;
  box-shadow: lightgrey 0px 2px 5px 0px;

  input {
    background: #fff;
  }

  p {
    color: #555;
  }
}

.template-p {
  color: #555;
}

.c____100____event-type-cascader {
  .c____100____el-cascader-node__label {
    max-width: 300px !important;
    flex: 1;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }
}

.c____100____cell-type-select {
  max-width: 440px;
}