<component-filter
  :enableOrderBy="true"
  :enableCount="true"
  :extraSearchFields="extraFilterData"
  :options="options"
  @on-clear-filter="handleCleanFilter"
  @on-start-searching="instance.handleSearch"
>
  <template #filter-options="options">
    <p class="template-p">{{ $t('component_manager.event_type_filter') }}</p>
    <el-cascader
      popper-class="event-type-cascader"
      v-model="selectEventTypes"
      :clearable="true"
      :placeholder="$t('component_manager.select_event_type')"
      style="width: 100%"
      :options="eventTypes"
      :props="{expandTrigger: 'hover', value: 'id', 'checkStrictly':true}"
      @change="handleEventTypeChange"
    >
      <template slot-scope="{node,data}">
        <span :title="data.label">{{ data.label }}</span>
      </template>
    </el-cascader>
    <p class="template-p">{{ $t('component_manager.cell_type_filter') }}</p>
    <el-select
      popper-class="cell-type-select"
      v-model="selectComponentType"
      :clearable="true"
      :placeholder="$t('component_manager.select_cell_type')"
      style="width: 100%"
      @change="handleComponentTypeChange"
      :disabled="disableExtraFilter"
    >
      <el-option v-for="item in componentTypes" :key="item.id" :value="item.id" :label="item.name">
        <span :title="item.name">{{ item.name }}</span>
      </el-option>
    </el-select>
  </template>
  <template #extra-options-detail>
    <div v-if="selectEventTypeName!==''">
      <p class="template-p">
        <b>{{ $t('component_manager.event_description') }}</b>
      </p>
      <p class="template-p">{{ selectEventTypeName }}</p>
    </div>
    <div v-if="selectComponentTypeName!==''">
      <p class="template-p">
        <b>{{ $t('component_manager.cell_type') }}</b>
      </p>
      <p class="template-p">{{ selectComponentTypeName }}</p>
    </div>
  </template>
</component-filter>
